.my-api-table
  :global(.semi-table-thead > .semi-table-row > .semi-table-row-head) {
  border-bottom-width: 1px;
  font-weight: 300;
}

.my-teamapi-box :global(.semi-typography-paragraph) {
  display: flex;
  align-items: center;
  font-size: 14px;
}
